extends ../layout

block content
    a(href='/bicicletas') Volver
    
    br
    br
    br

    h1 Actualizar Bicicleta

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method='post')
        lable(for='id') ID:
        input#id(type='text' name='id' value=bici.id)
        br
        lable(for='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        lable(for='modelo') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        lable(for='lat') Latitud:
        input#ubicacion(type='text' name='lat' value=bici.ubicacion[0])
        br
        lable(for='lng') Longitud:
        input#ubicacion(type='text' name='lng' value=bici.ubicacion[1])
        br
        br
        input.btn(type='submit' value='OK')
        
